.circle {
  border-radius: 50%;
}

.huge-text {
  font-size: 3rem;
  font-weight: 700;
}

.language-logo {
  height: 16px;
}

.social-logo {
  height: 50px;
  padding: 10px;
}

.project-preview {
  width: 90%;
}

.bokeh-logo {
  width: 50%;
}

body {
  padding-bottom: 75px;
}
