.circle {
  border-radius: 50%;
}

.huge-text {
  font-size: 3rem;
  font-weight: 700;
}

.language-logo {
  height: 16px;
}

.social-logo {
  height: 50px;
  padding: 10px;
}

.project-preview {
  width: 90%;
}

.bokeh-logo {
  width: 50%;
}

body {
  padding-bottom: 75px;
}

.code-button {
  border: 1px solid gray;
  border-radius: 5px;
  font-size: small;
  padding-right: 2px;
  padding-left: 2px;
  height: 24px;
  margin: 2px;
}
